<ion-view title="Formulário">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <center>
            <h3>Inscreva seu novo país</h3></center>
       
            <!--<div ng-repeat="d in data | filter:busca2">
                <h2><strong class="dark"></strong>{{d.name}}</strong></h2>
                <a class="button button-stable button-block button button-positive" >{{d.languages}}</a> 
                <p><strong class="dark">Capital:</strong> {{d.capital}}</p>
                <p><strong class="dark">Continente:</strong> {{d.region}}</p>
                <p><strong class="dark">População:</strong> {{d.population}}</p>
                <p><strong class="dark">Fronteiras: </strong><span ng-repeat="b in d.borders"> {{b}}</p></span>
                <p><strong class="dark">Língua:</strong> <span ng-repeat="l in d.languages"> {{l}}</span></p>
            </div> -->
        </center>
       
       <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Nome do País">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Capital">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Continente">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="População">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Fronteiras">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Língua">
  </label>
</div>

<center><button class="button button-full button-positive">
  Enviar!
</button></center>
       
        <center><img src="http://bbmri-wiki.wdfiles.com/local--files/start/world-flags-sphere.png" /></center>
    </ion-content>
</ion-view>
